.header {
  background-color: rgb(0, 130, 4);
  color: rgb(240, 240, 240);
  margin: 0px;
  padding: 5px;
  padding-left: 70px;
  font-family: Open Sans;
  top: 0;
}

.logo {
  float: left;
  height: 61px;
  width: 61px;
}

.subheader {
  background-color: rgb(0, 102, 3);
  color: rgb(240, 240, 240);
  margin: 0px;
  padding: 2px;
  padding-left: 70px;
  font-family: Open Sans;
  top: 0;
  font-size: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  margin-left: 10px;
  margin-right: 10px;
  padding: 50;
  overflow: hidden;
  background-color: #333;
  top: 0;
  text-align: center;
  box-shadow: 0px 2px grey;
  display: flex;
  vertical-align: middle;
  justify-content: center;
  border-radius: 0px 0px 10px 10px;
  position: -webkit-sticky;
  position: sticky;
}

li {
  float: left;
  text-align: center;
  display: flex;
  top: 0;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 26px;
  text-decoration: none;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

li a:hover {
  background-color: #111;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

footer {
  background: #333;
  width: 100%;
  height: 4.5em;
  vertical-align: center;
  padding: 2px;
  box-shadow: 0px -2px grey;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

.footerwording {
  text-align: center;
  font-family: Open Sans;
  color: white;
  font-size: 10px;
}

.banner {
  height: 95%;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  box-shadow: 5px 10px 10px black;
}

.textHeader {
  font-family: 'MinecraftiaRegular';
  text-shadow: 0px 2px 15px black;
  color: rgb(0, 130, 4);
  text-align: center;
}

.textBody {
  font-family: Open Sans;
  text-align: center;
}

.homePageHeader {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin: 50px;
}

.featuresSummary {
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-color: #333;
}

.chemistry {
  width: 50%;
  height: 50%;
  margin: 0px;
  padding: 0px;
}

.programming {
  width: 50%;
  height: 50%;
  margin: 0px;
  padding: 0px;
  margin-left: 50%;
  margin-right: auto;
  display: block;
}

.maths {
  width: 50%;
  height: 50%;
  margin: 0px;
  padding: 0px;
}

.languages {
  width: 50%;
  height: 50%;
  margin: 0px;
  padding: 0px;
  margin-left: 50%;
  margin-right: auto;
  display: block;
}

.FeatureHeader {
  float: center;
  display: block;
  text-align: center;
  font-family: 'MinecraftiaRegular';
  text-shadow: 0px 2px 15px black;
  color: rgb(0, 130, 4);
  font-size: 3vw;
}

.FeatureBody {
  float: center;
  display: block;
  text-align: center;
  font-family: Open Sans;
  margin-left: 10%;
  margin-right: 10%;
}

.featureTextBox {
  margin: 0px;
  height: 26vw;
  width: 50%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.moreFeaturesBox {
  background-color: white;
  border-style: solid;
  border-width: 1px;
  border-top-width: 0px;
  border-color: #333;
  margin-top: 0px;
  padding-bottom: 10px;
}

.moreFeaturesMessage {
  margin: 0px;
  padding: 15px;
  font-family: Open Sans;
  text-align: center;
}

.moreFeaturesButton {
  padding: 7px;
  background-color: rgb(0, 130, 4);
  text-decoration: none;
  color: white;
  font-family: 'MinecraftiaRegular';
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
  justify-content: center;
  border-style: double;
  border-width: 4px;
  border-color: white;
  box-shadow: 0px 2px 15px black;
}

.moreFeaturesButton:hover {
  background-color: rgb(0, 102, 3);
}

.moreFeaturesButtonContainer {
  justify-content: center;
  display: flex;
}

.reviewBox {
  padding: 20px;
  margin: 0px;
  max-height:50%;
  min-height:150px;
}

.reviewImagesRight {
  width: 145px;
  height: 145px;
  padding: 0px;
  margin-right: 10%;
  display: block;
  float: right;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 10%;
}

.reviewImagesLeft {
  width: 145px;
  height: 145px;
  padding: 0px;
  margin-left: 10%;
  display: block;
  float: left;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-right: 10%;
}

.starRatingRight {
  width: 90px;
  height: 15px;
}

.starRatingLeft {
  width: 90px;
  height: 15px;
  margin-left: 10%;
}

.reviewTextRight {
  font-family: Open Sans;
  margin-right: 10%;
}

.reviewTextLeft {
  font-family: Open Sans;
  margin-left: 10%;
  margin-right: 10%;
}