.header {
  background-color: rgb(0, 130, 4);
  color: rgb(240, 240, 240);
  margin: 0px;
  padding: 5px;
  padding-left: 70px;
  font-family: Open Sans;
  top: 0;
}

.logo {
  float: left;
  height: 61px;
  width: 61px;
}

.subheader {
  background-color: rgb(0, 102, 3);
  color: rgb(240, 240, 240);
  margin: 0px;
  padding: 2px;
  padding-left: 70px;
  font-family: Open Sans;
  top: 0;
  font-size: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  margin-left: 10px;
  margin-right: 10px;
  padding: 50;
  overflow: hidden;
  background-color: #333;
  top: 0;
  text-align: center;
  box-shadow: 0px 2px grey;
  display: flex;
  vertical-align: middle;
  justify-content: center;
  border-radius: 0px 0px 10px 10px;
  position: -webkit-sticky;
  position: sticky;
}

li {
  float: left;
  text-align: center;
  display: flex;
  top: 0;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 26px;
  text-decoration: none;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

li a:hover {
  background-color: #111;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

footer {
  background: #333;
  width: 100%;
  height: 4.5em;
  vertical-align: center;
  padding: 2px;
  box-shadow: 0px -2px grey;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}

.footerwording {
  text-align: center;
  font-family: Open Sans;
  color: white;
  font-size: 10px;
}

.banner {
  height: 95%;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  display: block;
  box-shadow: 5px 10px 10px black;
}

.textHeader {
  font-family: 'MinecraftiaRegular';
  text-shadow: 0px 2px 15px black;
  color: rgb(0, 130, 4);
  text-align: center;
}

.textBody {
  font-family: Open Sans;
  text-align: center;
}

.homePageHeader {
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin: 50px;
}